<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ConnString_TR_DATA" connectionString="server=10.10.5.66;uid=sa;pwd=Retex16031227;database=TR_DATA;" />
		<add name="TIF_Path" connectionString="D:\TIF_eInvoice\tmp\" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>